{% extends "base.html" %}
{% load static %}
{% block title %}
    Article List
{% endblock title %}
{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Blog</h1>
        <h2>My Articles</h2>
        <ul>
            {% for article in object_list %}
                {% if article.author == request.user.profile %}
                    <li>
                        <a href = "{{ article.get_absolute_url }}">{{ article.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <a href = "{% url 'blog:article_create' %}">Create New Article</a>
    {% endif %}
    <h2>All Articles</h2>
    <ul>
        {% for category in categories %}
            <li>
                <h4>{{ category.name }}</h4>
                <ul>
                    {% for article in object_list %}
                        {% if request.user.is_authenticated %}
                            {% if article.author != request.user.profile %}
                                <li>
                                    <a href = "{{ article.get_absolute_url }}">{{ article.title }}</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li>
                                <a href = "{{ article.get_absolute_url }}">{{ article.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
