{% extends "base.html" %}
{% load static %}
{% block title %}
    Article List
{% endblock title %}
{% block content %}
<a href = "{% url 'wiki:articles'%}">Back to Article List</a>
    <div><img src = "{{ article.header_image.url }}" alt = "{{ article.title }}"></div>
    <h2>{{article.title}}</h2>
    <h3>by {{article.author}}</h3>
    <p>{{article.entry}}</p>
    <p>Created on: {{article.created_on}}</p>
    <p>Last updated on: {{article.updated_on}}</p>
    {% if request.user.is_authenticated %}
        {% if article.author == request.user.username %}
            <a href = "{% url 'wiki:article_edit' article.id %}">
                Edit this article
            </a>
        {% endif %}
    {% endif %}
    <p>Check more articles from the {{article.category}} category:</p>
    <ul>
        {% for category in article_category %}
            {% if category.name == article.category.name %}
                {% for articles in category.article_category.all %}
                    {% if articles.title == article.title  %}
                    {% else %}
                        <li>
                            <a href = "{{ articles.get_absolute_url }}">
                                {{articles.title}}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>

    <h4>Comments:</h4>
    {% if request.user.is_authenticated %}
        <form method = "POST">
            {% csrf_token %}
            {{ form.as_div }}
            <button type = "submit">Submit</button>
        </form>
    {% endif %}
    <ul>
        {% for comment in article.comment_article.all %}
            <li>
            <p>{{ comment.author }} commented:</p>
            <p>{{ comment.entry }}</p>
            <p>Created On: {{ comment.created_on }}</p>
            <p>Updated On: {{ comment.updated_on }}</p>
            </li>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
